<h1>Feedback Application Form</h1>
<form action="/feedback_form_submit">
    <label for="player_email">Email:</label>
    <input type="text" id="player_email" name="player_email"><br>

    <label for="general_feedback">General Feedback:</label><br>
    <textarea rows="5" cols="60" id="general_feedback" name="general_feedback"></textarea></textarea><br>

    <label for="bugs">Please report any bugs:</label><br>
    <textarea rows="5" cols="60" id="bugs" name="bugs"></textarea></textarea><br>

    <input type="submit" value="Submit">
</form>